.map-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 25px;
  height: 520px;
  position: relative;
  top: -1rem;
  width: 265px;
  z-index: 999;
}

.map-inner-container {
  height: 100%; /* Ajuste conforme necessário */
  width: 100%; /* Ajuste conforme necessário */
  z-index: 1;
}

.custom-popup .leaflet-popup-content-wrapper {
  background-color: var(--background);
  color: var(--texto);
  text-align: center;
  border-radius: 10px;
  padding: 10px;
}

.custom-popup .popup-content {
  display: block;
  align-items: center;
  justify-content: center;
}

.custom-popup .popup-text {
  color: var(--texto);
  flex: 1;
  text-align: center;
  padding-right: 10px;
}

.custom-popup img {
  border-radius: 50%;
  object-fit: cover;
  width: 100px;
  height: 100px;
}

@media screen and (min-width: 1024px) {

  .map-inner-container{
    height: 100%;
    width: 100%;
  }
}